div.loading: h1 GROOVE-O-NOME (1.0)
div.wrapper
  h1 Groove-o-nome
  div.section.onoff
    button.-big#quarter 
      img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/385326/quarter.svg").note
      img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/385326/sound.svg").sound
    button.-big#eighth 
      img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/385326/eighth.svg").note
      img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/385326/sound.svg").sound 
    button.-big#sixteenth
      img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/385326/sixteenth.svg").note
      img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/385326/sound.svg").sound 
    div.volume.container
      span.volume.text Vol
      div.slider.volume.slider.ui
  div.section Tempo
    input.tempo.spinner.ui
    div.slider.tempo.slider.ui
  div.section.has-info 8th Swing % 
    input.eighthSwing.spinner.ui
    div.slider.eighthSwing.slider.ui
    button.toggle-info Help
    div.info This changes the swing of the 8th-note (the "and"). 0% places the 8th-note on the exact halfway point between beats. 100% places them a full 16th-note later (as if a dotted-8th/16th-note figure). 67% is a pure 8th-triplet swing.  NOTE:  8th-note swing does not effect 16th-note placement. They are independent in Groove-O-Nome.
  div.section.has-info 16th Swing %
    input.sixteenthSwing.spinner.ui
    div.slider.sixteenthSwing.slider.ui
    button.toggle-info Help
    div.info This changes the swing of the 16th-notes (the "ee" and "uh"). 0% places the 16th-notes on exact fourths of the beat. 100% places them a full 32nd-note later (as if a dotted-16th/32nd-note figure). 67% is a pure 16th triplet swing.  NOTE:  16th-note swing does not effect 8th-note placement. They are independent in Groove-O-Nome.
  div.section.has-info Random Mute % 
    input.randMute.spinner.ui
    div.slider.randMute.slider.ui
    button.toggle-info Help
    div.info This changes the percentage chance that the metronome will randomly mute itself.  0% means every note is played.  100% means no notes are played.  This is great to test your internal sense of the time.  Set it to a high percentage and see if you can still play along!
  div.swing-visualizer 
    img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/385326/quarter.svg").note
    div.ee: img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/385326/sixteenth.svg").note
    div.and: img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/385326/eighth.svg").note
    div.uh: img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/385326/sixteenth.svg").note
  ul.italian
    li Allegro
    li Largo
